.localisation {
    @include flex-row;
    justify-content: center;
    background-color: $mid-grey;

    .fa-map-marker-alt {
        font-size: 1rem;
    }

        &__map-icon{
            height: 50px;
            width: 50px;

            &-container{
                width: 100%;
                height: 100%;
                position: relative;
            }
            &-insert{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
        
            }
        }
        &__form{
            align-self: center;

            input {
                border-style: none;
                background-color: $mid-grey;
                @include bold-typo;
            }
        }

    }


.presentation {
    @include flex-column;

    background-color: $soft-grey;
    padding: 2rem;

    &__information {
        @include soft-typo;
        text-align: center;
    }
}

.steps {
    @include flex-column;
    align-items: center;
    padding: 1rem;

    &__description {
        @include bold-typo;
        align-self: center;
    }
}

.step-block {
    @include flex-row;
    width: 80%;
    background-color: $soft-grey;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 1.3rem 0;

    &__number {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $colour-primary;
    }

    &__number-container {
        width: 100%;
        height: 100%;
        position: relative;
    }
    &__number-insert {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__icon {
        width: 30px;
        height: 30px;
    }

    &__icon-container {
        width: 100%;
        height: 100%;
        position: relative;

    }
    &__icon-insert {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

.container {
    @include flex-column;

    background-color: $soft-grey;
    align-items: center;
    padding: 1rem;
}

.restaurant {
    @include restaurant;

    &__img {
        width: 100%;
        border-radius: 1rem 1rem 0 0;
    }
}