.map-search-container {
    height: 50px;
    width: 100%;
    background-color: $mid-grey;

    }

.map {
    @include flex-column;
    padding: 1rem;

    &__container {
        height: 50px;
        width: 50px;
    }
}



.presentation {
    @include flex-column;

    background-color: $soft-grey;
    padding: 2rem;

    &__information {
        @include soft-typo;
        text-align: center;
    }
}

.steps {
    @include flex-column;

    padding: 1rem;

    &__description {
        @include bold-typo;
    }
}

.step-block {
    @include flex-row;

    background-color: $soft-grey;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;

    &__number {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $colour-primary;
    }

    &__number-container {
        width: 100%;
        height: 100%;
        position: relative;
    }
    &__number-insert {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__icon {
        width: 30px;
        height: 30px;
    }

    &__icon-container {
        width: 100%;
        height: 100%;
        position: relative;

    }
    &__icon-insert {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

.container {
    @include flex-column;

    background-color: $soft-grey;
    align-items: center;
    padding: 1rem;
}

.restaurant {
    @include restaurant;

    &__img {
        width: 100%;
        border-radius: 1rem 1rem 0 0;
    }
}