.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5rem;
}

.logo-ohmyfood {
    height: 2rem;
}

.map {
    background-color: grey;
    padding: 1rem;
    height: 200px;
}