body {
  margin: 0;
  font-size: 20px;
}

.loading-spinner {
  animation: spinner 3000ms;
  position: absolute;
  top: 50%;
  z-index: 3;
  opacity: 0;
  font-family: Shrikhand;
  color: black;
  font-size: 1.8rem;
  background: radial-gradient(#ff79da, #9356dc);
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.loading-spinner__text--1 {
  animation: spinner-moving-text 1000ms;
}
.loading-spinner__text--2 {
  animation: spinner-moving-text 1750ms;
}
.loading-spinner__text--3 {
  animation: spinner-moving-text 2500ms;
}

@keyframes spinner-moving-text {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(0px);
  }
}
.spinner-active {
  animation: background-spinner 3000ms;
}

@keyframes spinner {
  0% {
    opacity: 0;
  }
  50%, 95% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes background-spinner {
  0% {
    opacity: 0.01;
  }
  100% {
    opacity: 0.2;
  }
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

button,
input {
  margin: 0;
}

img {
  object-fit: cover;
  height: 174px;
}

h1 {
  font-family: "Roboto";
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  margin: 0;
}

h2 {
  font-family: "Roboto";
  font-size: 1.5rem;
  width: 100%;
  margin: 1rem 0;
}

.btn {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  padding: 1rem;
  align-self: center;
  color: white;
  background: radial-gradient(#ff79da, #9356dc);
  box-shadow: 0.7rem 0.7rem 1rem #c8c8c8;
  border: thin;
  position: relative;
  z-index: 1;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  border-radius: 2rem;
  box-shadow: 0.7rem 0.7rem 1rem #828282;
  background: radial-gradient(#ff94e1, #a06be1);
  transition: opacity 500ms;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 1.2rem 2.5rem 1rem 2.5rem;
  z-index: -1;
}
.header .fa-arrow-left {
  align-self: center;
  position: absolute;
  left: 25px;
}

.logo-ohmyfood {
  height: 1.7rem;
}

.footer {
  background-color: #353535;
  padding: 1.5rem;
}
.footer a {
  font-family: Shrikhand;
  color: white;
  font-size: 1rem;
}
.footer .footer-font {
  color: white;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
}
.footer .fas {
  font-size: 0.8rem;
}
.footer__logo {
  margin-bottom: 1rem;
}
.footer__proposition {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-content: unset;
  color: white;
}
.footer__proposition-icon {
  width: 20px;
  height: 30px;
}
.footer__proposition-icon-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.footer__proposition-icon-insert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer__proposition-text {
  align-self: center;
  margin-left: 0.2rem;
}
.footer__contact {
  margin: 0.35rem 0;
}

.localisation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: #ededed;
}
.localisation .fa-map-marker-alt {
  font-size: 1rem;
}
.localisation__map-icon {
  height: 50px;
  width: 50px;
}
.localisation__map-icon-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.localisation__map-icon-insert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.localisation__form {
  align-self: center;
}
.localisation__form input {
  border-style: none;
  background-color: #ededed;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
}

.presentation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f7f7f7;
  padding: 1.8rem 2rem 2.4rem 2rem;
}
.presentation__information {
  font-family: "Roboto";
  font-size: 1.1rem;
  font-weight: 200;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.presentation__btn {
  margin: 1.2rem;
  width: 70%;
}
@media screen and (min-width: 1023px) {
  .presentation__btn {
    width: 40%;
  }
}

.steps {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem 3rem 1rem;
}
@media screen and (min-width: 1023px) {
  .steps {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
.steps__description {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
  align-self: center;
}

.step-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-content: unset;
  width: 95%;
  background-color: #f7f7f7;
  border-radius: 1.5rem;
  margin: 0.8rem 1.2rem;
  padding: 1.3rem 0;
  position: relative;
}
@media screen and (min-width: 1023px) {
  .step-block {
    width: 29%;
  }
}
.step-block:hover {
  background-color: #e4d5f6;
  transition: background-color 300ms;
}
.step-block:hover .fas {
  color: #9356dc;
  transition: color 300ms;
}
.step-block .fas {
  color: #353535;
}
.step-block .fa-store {
  transform: scaleX(0.8);
}
.step-block .fa-list {
  transform: scaleX(0.8);
}
.step-block__number {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356dc;
  align-self: center;
  position: absolute;
  left: -10px;
}
.step-block__number-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.step-block__number-insert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
  color: white;
}
.step-block__icon {
  width: 30px;
  height: 30px;
  margin: 0 1.5rem;
}
.step-block__icon-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.step-block__icon-insert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #f7f7f7;
  align-items: center;
  padding: 2.5rem 1rem 3.5rem 1rem;
}
@media screen and (min-width: 1023px) {
  .container {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.restaurant {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0.7rem 0.7rem 1rem #c8c8c8;
  width: 95%;
  position: relative;
  margin: 0.5rem 0;
}
.restaurant:hover {
  box-shadow: 0.7rem 0.7rem 1rem #828282;
  transition: all 500ms;
}
@media screen and (min-width: 1023px) {
  .restaurant {
    width: 23%;
  }
}
.restaurant__img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.restaurant__new {
  background-color: #99e2d0;
  position: absolute;
  top: 5%;
  right: 4%;
  padding: 0.4rem 0.7rem 0.2rem 0.7rem;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 0.1rem;
  color: #008766;
}
.restaurant__heart {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 80%;
  left: 85%;
}
.restaurant__heart .far {
  height: 20px;
  width: 20px;
  position: absolute;
  opacity: 1;
}
.restaurant__heart .far:hover {
  opacity: 0;
  transition: opacity 700ms;
}
.restaurant__heart .fas {
  display: block;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 20px;
  width: 20px;
  position: absolute;
  opacity: 0;
}
.restaurant__heart .fas:hover {
  opacity: 1;
  transition: opacity 700ms;
}
.restaurant__heart-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.restaurant__heart-insert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.restaurant__name {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
  font-size: 1.2rem;
  padding: 0.5rem 0 0.1rem 0.8rem;
}
.restaurant__description {
  font-family: "Roboto";
  font-size: 1.1rem;
  font-weight: 200;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
  padding: 0.1rem 0 1rem 0.8rem;
}

.one-restaurant-img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.one-restaurant-img__img {
  height: 260px;
  width: 100%;
  position: relative;
}

.one-restaurant {
  width: 100%;
  transform: translateY(-40px);
  margin-bottom: -40px;
}
@media screen and (min-width: 1023px) {
  .one-restaurant {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
.one-restaurant__information {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-content: unset;
  padding: 2rem 0;
  width: 100%;
}
.one-restaurant__information .fas {
  display: block;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.one-restaurant__information-name {
  font-family: Shrikhand;
  color: black;
  font-size: 1.8rem;
  width: 85%;
  text-align: center;
}
@media screen and (min-width: 1023px) {
  .one-restaurant__information-name {
    width: 95%;
  }
}
.one-restaurant__information-heart {
  position: unset;
  align-self: center;
}

main {
  background-color: #f7f7f7;
  border-radius: 3rem 3rem 0 0;
}

.part {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.8rem;
  overflow: hidden;
}
@media screen and (min-width: 1023px) {
  .part {
    width: 32%;
  }
}
.part .fas {
  color: #99e2d0;
  font-size: 1rem;
  transform: rotate(-360deg);
}
.part__title {
  font-family: "Roboto";
  font-size: 1.1rem;
  font-weight: 200;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
  padding: 0.2rem 1rem;
}
.part__highlight {
  margin: 0 1rem 1rem 1rem;
  border: #99e2d0 1px double;
  width: 40px;
}
@keyframes block {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
  }
}
.part__block {
  display: flex;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0.7rem 0.7rem 1rem #c8c8c8;
  width: 85%;
  margin-bottom: 0.8rem;
}
.part__block:hover {
  box-shadow: 0.7rem 0.7rem 1rem #828282;
  transition: all 500ms;
}
.part__block:hover .part__block-Xanim {
  width: 80px;
  transform: scaleX(1);
  transition: all 500ms;
}
.part__block:hover .fas {
  transform: rotate(0deg);
  transition: all 500ms;
}
.part__block--first {
  animation: block 1000ms;
}
.part__block--second {
  animation: block 1250ms 200ms;
}
.part__block--third {
  animation: block 1750ms 350ms;
}
.part__block--fourth {
  animation: block 2250ms 500ms;
}
.part__block-choice {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.5rem 1rem 0.6rem 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.part__block-choice-first {
  width: 100%;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.part__block-choice-second {
  font-family: "Roboto";
  font-size: 1.1rem;
  font-weight: 200;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.part__block-choice-precision {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.part__block-choice-price {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
  font-size: 0.9rem;
}
.part__block-Xanim {
  background-color: #99e2d0;
  border-radius: 0 1rem 1rem 0;
  width: 0;
  transform-origin: right;
  transform: scaleX(0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.part__block-Xanim-container {
  width: 25px;
  height: 25px;
  position: relative;
  background-color: white;
  border-radius: 1rem;
}
.part__block-Xanim-insert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.order {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 2rem 2rem 2rem;
  position: relative;
}
@media screen and (min-width: 1023px) {
  .order {
    width: 100%;
  }
}
.order__btn {
  margin: 1rem;
  width: 70%;
}
@media screen and (min-width: 1023px) {
  .order__btn {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
