$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;

$gradient: radial-gradient(#ff79da, #9356dc);
$light-gradient: radial-gradient(hsl(317, 100, 79), hsl(267, 66, 65));

$soft-grey: #f7f7f7;
$mid-grey: #ededed;
$hard-grey: #353535;

$fa-font-path: "./webfonts";
